{% extends "./template.html" %}

{% block meta_description %}
Legal statements and agreements between the Referral Fifty Fifty program and its partners.
{% endblock %}

{% block content %}
<div class="content legal-content">
  <h1>Legals</h1>

  <h2>Terms of Use, Disclaimer, and Privacy Policies for Referral Fifty Fifty Commission Sharing Program</h2>

  <p>By using our program to share commissions, you agree to accomplish the following:</p>

  <h2>1. Ethical and Licit Behavior:</h2>
  <p>Users are prohibited from engaging in engineering, programming practices, or hacking against our tool or any other
    third party in their marketing practices.</p>

  <h2>2. Compliance and Promotion through FTC and GDPR Compliant Practices:</h2>
  <p>Users must not engage in practices of promotion prohibited by the Federal Trade Commission (FTC) and the General
    Data Protection Regulation (GDPR).</p>
  <p>Users must promote our tool only through practices permitted by the FTC and GDPR.</p>
  <p>The promotion should be carried out through content that adheres to the guidelines set by the FTC and GDPR.</p>
  <p>It is the responsibility of the users to stay informed about recommended and permissible practices by the FTC and
    GDPR that you can consult <a href="#">here</a>.</p>

  <h2>3. Quality Content Promotion:</h2>
  <p>Users are required to offer the tool through high-quality and FTC/GDPR-compliant content.</p>

  <h2>4. User Responsibilities and Acknowledges:</h2>
  <p>Users understand and acknowledge that they are solely responsible for protecting and maintaining access to their
    account through the Magic link.</p>
  <p>Accurate submission of their contact data, and e-commerce platform affiliate codes through the provided form is the
    responsibility of the users.</p>
  <p>Users must verify that the tool correctly rotates their affiliate links.</p>
  <p>Users understand and acknowledge that their commissions for purchases through your affiliate links will be
    accounted for and paid directly by the e-commerce platforms since our tool only rotates the affiliate links within
    our connected pages or tools.</p>

  <h2>5. Functionality of Affiliate Marketing Link Rotation System:</h2>
  <p>Users are encouraged to familiarize themselves with how the affiliate marketing link rotation system operates.</p>

  <h2>6. Cookie Usage Notice:</h2>
  <p>We use cookies solely to record and maintain your session's activity and detect logout events in your affiliate
    area for our commission program.</p>

  <h2>7. Disclaimer of Responsibility:</h2>
  <p>The program does not take responsibility for commissions that are not paid to users by E-commerce platforms.</p>
  <p>The program is not responsible if E-commerce platforms revoke affiliate links due to promotion through our tool.
  </p>

  <p>These terms are subject to change, and users must stay updated on any modifications. By utilizing our program, you
    agree to abide by these conditions and accept any consequences resulting from non-compliance.</p>

  <p>Thank you for your understanding and cooperation!</p>

  <p>Contact us at: comments@referral-fifty-fifty.com | Referral fifty-fifty partners WhatsApp account:
    https://wa.link/7wny5w</p>
</div>
{% endblock %}