{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Referall 50 - 50 {% if subtitle %}| {{subtitle|title}}{% endif %}</title>

  <meta name="description" content="{% block meta_description %}Referral Fifty Fifty is a commission-sharing system based on dynamically rotating affiliate promoter codes within the ads embedded in web tools{% endblock %}">
  <meta name="keywords" content="affiliate program, referral program, how to become an affiliate, affiliate income, amazon partners, walmart affiliate, ebay partners program, amazon affiliate, ebay affiliate">
  <meta name="author" content="Referral Fifty Fifty">

  <link rel="stylesheet" href="{% static 'users/css/style.css' %}">

  <!-- Phone code css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/css/intlTelInput.css">

  <!-- Goiogle fornts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rospanoto+Condensed:wght@400;700&family=Yeseva+One&display=swap"
    rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

  {% block extrahead %}
  {% endblock %}
</head>

<body>

  <header id="header" class="container">
    <div class="logo">
      <img src="{% static 'users/imgs/logo.png' %}" alt="Refferal Fifty Fifty logo">
      <p class="title">Referral <br> 50/50</p>
    </div>
    <nav class="">
      <ul class="">
        {% if request.session.user %}
        <li>
          <button id="logout-btn">Logout</button>
        </li>
        {% else %}
        <li>
          <a href="/register">Sign Up</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </header>

  <main class="{{subtitle}} container">
    <div class="loading-wrapper hidden transparent">
      <img class="loading" src="{% static 'users/imgs/spinner.gif' %}" alt="Loading">
    </div>
    {% block content %}
    {% endblock %}
  </main>

  <footer id="footer">

    <p class="referral">
      Hire our Search Engine or Ai powered Proxy Service at: <a href="https://crawlbase.com/?s=uTzoANe7" target="_blank"
        title="Our amazing Search Engine, or the best Proxy Service, Our tool proves it!">Crawlbase</a>
    </p>

    <p class="referral">
      Access search results pages from outside the US with <a href="https://go.nordvpn.net/aff_c?offer_id=15&aff_id=96425&url_id=902" target="_blank" >NordVPN!</a>
    </p>

    <div class="email">
      Comments and suggestions:
      <a href="mail:comments@price-checker.us">
        comments@referral-fifty-fifty.com
      </a>
    </div>

    <div class="links">
      <a href="/legal" target="_blank">
        Legals
      </a>
      <a href="/legal-framework" target="_blank">
        Legal framework
      </a>
      <p>
        © 2023 referral-fifty-fifty.com
      </p>
    </div>
    </p>
  </footer>

  <!-- Alerts -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  
  <!-- get error and info from django -->
  <script>
    const error = "{{ error }}"
    const info = "{{ info }}"
  </script>
  
  <!-- Custom alerts from django -->
  <script src="{% static 'users/code/alerts.js' %}"></script>

  <!-- manage loading spinner -->
  <script src="{% static 'users/code/loading.js' %}"></script>
    
  <!-- Logout button -->
  <script src="{% static 'users/code/logout.js' %}"></script>

  {% block extrajs %}
  {% endblock %}

  <!-- Custom code page -->
  {% if default_script %}
  <script src="{% static 'users/code/'|add:subtitle|add:'.js' %}"></script>
  {% endif %}

</body>

</html>