.register
    display: flex
    align-items: center
    justify-content: center
    height: calc(100vh - 0px)
    
    .content
        h1
            font-size: 1.8rem
            margin-bottom: 0.4rem

        > p:nth-child(2)
            margin: 0
            padding: 0
            margin-bottom: 1rem

        form
            width: 550px

            .form-group
                display: flex
                align-items: flex-start
                justify-content: space-between

            .input-wrapper
                width: 100%
                margin: 0
                margin-top: 1rem

                label
                    display: block
                    font-weight: bold
                    color: $color-c
                    margin: 0.3rem 0

                input
                    display: block
                    font-size: 1.1rem
                    padding: 0.2rem 1.2rem
                    border-radius: 0.3rem
                    border: 2px solid rgba($color_d, 0.3)
                    width: calc(85% - 1.4rem)


                    &#phone
                        padding-left: 3rem
                        width: calc(100% - 1.4rem)


                    &:focus
                        border: 2px solid $color_d
                        outline: none
                    
                    &:hover
                        background-color: rgba($color_d, 0.05)

            .form-text
                font-size: 0.7rem
                margin: 0
                padding: 0
                margin-top: 0.4rem

                &.login
                    margin-top: 1.5rem

            .btn.cta
                margin-top: 1.5rem