body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

.debug {
  border: 1px solid red;
}

.title, h1, h2, h3, h4, h5, h6 {
  font-family: "Yeseva One", serif;
  color: #394867;
}

p {
  color: #212A3E;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}

.transparent {
  opacity: 0 !important;
}

a {
  text-decoration: none;
  color: #212A3E;
  font-weight: bold;
  transition-duration: 0.1s;
}
a:hover {
  color: rgba(57, 72, 103, 0.5);
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 50px;
}
#header .logo {
  height: 80px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#header .logo img {
  height: 100%;
  margin-right: 20px;
}
#header .logo p {
  color: #212A3E;
  font-size: 2rem;
  margin: 0;
  display: inline-block;
  font-weight: bold;
}
#header nav {
  width: 200px;
}
#header nav ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#header nav ul li {
  list-style: none;
  margin: 5px;
}
#header nav ul li a {
  padding: 10px;
}
@media screen and (max-width: 500px) {
  #header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #header .logo {
    margin-bottom: 30px;
  }
  #header .logo p {
    font-size: 1.5rem;
  }
  #header nav ul {
    justify-content: center;
  }
}

.btn {
  border: none;
  background: none;
  display: inline-block;
}
.btn.cta {
  color: #F1F6F9;
  background-color: #394867;
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: 4px solid #394867;
  transition-duration: 0.2s;
  font-weight: bold;
}
.btn.cta:hover {
  background-color: rgba(57, 72, 103, 0);
  color: #394867;
}

#footer {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 60px;
  font-size: 0.8rem;
  bottom: 0;
  left: 0;
}
#footer.absolute {
  position: absolute;
}
#footer a {
  font-weight: bold;
  transition-duration: 0.2s;
}
#footer a:hover {
  color: rgba(57, 72, 103, 0.7);
}
#footer p {
  margin: 0;
}
#footer .links {
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.8rem auto;
}
#footer > * {
  margin: 0.8rem 0;
}
@media screen and (max-width: 550px) {
  #footer .links {
    flex-direction: column;
    width: 100%;
  }
  #footer .links a {
    padding: 5px;
  }
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(80vh - 0px);
  width: 550px;
}
.register .content {
  position: relative;
}
.register .content h1 {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}
.register .content > p:nth-child(2) {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}
.register .content .loading-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
}
.register .content .loading-wrapper .loading {
  width: 50px;
}
.register .content form {
  width: 100%;
}
.register .content form .form-group {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.register .content form .form-group .input-wrapper input {
  width: calc(85% - 1.4rem);
}
.register .content form .input-wrapper {
  width: 100%;
  margin: 0;
  margin-top: 0.5rem;
}
.register .content form .input-wrapper label {
  display: block;
  font-weight: bold;
  color: #212A3E;
  margin: 0.3rem 0;
}
.register .content form .input-wrapper input {
  display: block;
  font-size: 1.1rem;
  padding: 0.2rem 1.2rem;
  border-radius: 0.3rem;
  border: 2px solid rgba(155, 164, 181, 0.3);
  width: calc(100% - 1.4rem);
}
.register .content form .input-wrapper input#phone {
  padding-left: 3rem;
  width: calc(100% - 1.4rem);
}
.register .content form .input-wrapper input:focus {
  border: 2px solid #9BA4B5;
  outline: none;
}
.register .content form .input-wrapper input:hover {
  background-color: rgba(155, 164, 181, 0.05);
}
.register .content form .input-wrapper input::placeholder {
  color: rgba(57, 72, 103, 0.3);
}
.register .content form .input-wrapper input.refferral {
  width: calc(92% - 1.4rem);
}
.register .content form .input-wrapper input.refferral.error {
  background-color: rgba(255, 0, 0, 0.05);
}
.register .content form .input-wrapper .form-text {
  opacity: 0;
  transition-duration: 0.2s;
}
.register .content form .input-wrapper:hover .form-text {
  opacity: 1;
}
.register .content form .form-text {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  margin-top: 0.4rem;
}
.register .content form .form-text.login {
  margin-top: 1.5rem;
}
.register .content form .btn.cta {
  margin-top: 1.5rem;
}
@media screen and (max-width: 700px) {
  .register {
    width: 80%;
  }
}
@media screen and (max-width: 560px) {
  .register .content form .form-group {
    flex-direction: column;
  }
  .register .content form .form-group .input-wrapper .iti {
    width: 100%;
    width: calc(92% - 1.4rem);
  }
  .register .content form .form-group .input-wrapper input {
    width: calc(92% - 1.4rem);
  }
  .register .content form .form-group .input-wrapper input#phone {
    width: 100%;
  }
}

main.error {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main.error h1 {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
